.header {
  font-size: 46px;
}

.font16 {
  font-size: 16px;
}

.arial {
  font-family: arial;
}

.bold {
  font-weight: bold;
}

.title {
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bolder!important;
}

.text {
  padding-top: 2em;
  padding-bottom: 4em;

  padding-left: 2em;
  padding-right: 1em;
}

html {
  font-weight: bold;
}

h1 {
  font-size: 26px!important;
}

.link_index {
  padding: 1em;
}