.header {
  font-size: 46px;
  box-shadow: 0 0.2em 1em #000;
}

.footer {
  font-size: 10px;
}

.content {
  font-size: 14px;
}

.navigation {
  font-size: 12px;
}

.sidebar {
  font-size: 10px;
}

.aside {
  margin: .5em;
}

*[class$='r'] {
  background-color: magenta;
}

*[class*='a']:not(*[class$='r']) {
  background-color: blue;
}

html {
  font-weight: bold;
}

.oh-no-inline-styles {
  background-color: green!important;
  width: 5em; 
  height: 5em;
  margin: 0 auto;
}

h1 {
  font-size: 26px!important; 
}

.box {
    height: 5em;
    width: 5em;
    padding: 1em;
    margin: 1em auto;
    border: .25em solid;
}
