.header {
  font-size: 46px;
}

.font16 {
  font-size: 16px;
}

.arial {
  font-family: arial;
}

.bold {
  font-weight: bold;
}

.title {
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bolder!important;
}

.text {
  padding-top: 2em;
  padding-bottom: 4em;

  padding-left: 2em;
  padding-right: 1em;
}

.flechita {
  background-color: black;

  width: 3em;
  height: 9em;

  position: fixed;
  top: 50%;
  margin-top: -4.5em;

  right:-1px;

  color: white;
  text-align: center;

  z-index: 999;

  font-weight: normal;
}

.flechita > p {
  margin-top: 4em;
}

.flechita:hover + .hw {
  display: block;
}

.hw {
  display: none;

  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  background: rgba(5,5,5,0.3);
  text-align: center;
}

.hw > span {
  position: fixed;
  top: 50%;
  margin-top: -3em;
  color: white;
  background-color: gray;
  border-radius: 2em;
  padding: 3em;
}

html {
  font-weight: bold;
}

h1 {
  font-size: 26px!important;
}

.link_index {
  padding: 1em;
}